:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --paragraf-text-color: #757575;
  --main-back-color: #ffffff;
  --fon-back-hero: #2f303a;
  --footer-fon: #2f303a;
  --nav-list-gap: 30px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--main-back-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 450px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container-header {
  margin-bottom: 16px;
}

@media screen and (min-width: 450px) {
  .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}

.container-header__logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .container-header__logo {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-header__logo {
    margin-right: 93px;
  }
}

.container-header__logo-web {
  color: var(--accent-color);
}

.container-header__nav {
  font-weight: 500;
  line-height: 1.14;
  color: var(--primary-text-color);
  display: none;
}

@media screen and (min-width: 768px) {
  .container-header__nav {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container-header__site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.team__icon-header {
  color: var(--primary-text-color);
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: 10px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.team__icon-header:hover, .team__icon-header:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .team__icon-header {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .team__icon-header {
    display: none;
  }
}

.container-header__item {
  padding: 32px 0;
  margin-right: 50px;
  position: relative;
}

.container-header__link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.container-header__link:hover, .container-header__link:focus, .container-header__link:active {
  color: var(--accent-color);
}

.container-header__studio {
  font-weight: 500;
  line-height: 1.14;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.container-header__studio:hover, .container-header__studio:focus {
  color: var(--accent-color);
}

.container-header__studio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.container-header__contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-header__contact {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
  }
}

.container-header__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .container-header__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header__icon {
    margin-right: 10px;
  }
}

.container-header__mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--paragraf-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.container-header__mail:hover, .container-header__mail:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .container-header__mail {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header__mail {
    margin-right: 30px;
    font-size: 14px;
    line-height: 16px;
  }
}

.hero {
  max-width: 1600px;
  max-height: 600px;
}

.hero__container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .hero__container {
    max-width: 480px;
    min-height: 400px;
    background-color: rgba(47, 48, 58, 0.8);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/Header.mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Header.mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 768px;
    min-height: 400px;
    background-color: rgba(47, 48, 58, 0.8);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/Header.tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/Header.tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    background-color: rgba(47, 48, 58, 0.8);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/header.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/header.jpg);
    max-height: 600px;
    min-width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 450px) {
  .hero__descritpion {
    display: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero__descritpion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero__title {
  color: var(--main-back-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 450px) {
  .hero__title {
    width: 360px;
    height: 84px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    height: 120px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button-primary {
  color: var(--main-back-color);
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  background-color: var(--main-back-color);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: inline-block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__title-overlay {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--main-back-color);
  padding: 0;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.modal__icon-close {
  fill: currentColor;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.modal__icon-close:hover, .modal__icon-close:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 450px) {
  .form {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    max-width: 528px;
    max-height: 581px;
  }
}

.form__row:not(:last-child) {
  margin-bottom: 10px;
}

.form__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--paragraf-text-color);
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}

.form__label:hover {
  fill: var(--accent-color);
}

.form__input-folder {
  position: relative;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
}

.form__input-modal {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 14px;
  margin: 0;
  font: inherit;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.form__input-modal:hover, .form__input-modal:focus {
  border: 1px solid var(--accent-color);
}

.form__modal-icon {
  position: absolute;
  top: 14px;
  left: 15px;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.form__label-comment {
  color: var(--paragraf-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.text::-webkit-input-placeholder {
  margin-top: 0;
  margin-left: 0;
}

.text:-ms-input-placeholder {
  margin-top: 0;
  margin-left: 0;
}

.text::-ms-input-placeholder {
  margin-top: 0;
  margin-left: 0;
}

.text::placeholder {
  margin-top: 0;
  margin-left: 0;
}

.form__folder-comment {
  margin-top: 4px;
}

.form__input-comment {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 12px 16px;
  top: 0;
  left: 0;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input-comment:hover, .form__input-comment:focus {
  border: 1px solid var(--accent-color);
}

.form__input-modal:hover + .form__modal-icon {
  fill: var(--accent-color);
}

.form__input-modal:focus + .form__modal-icon {
  fill: var(--accent-color);
}

.checkbox__section {
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkbox__label {
  cursor: pointer;
  position: relative;
}

.checkbox__hidden {
  -webkit-appearance: none;
  -moz-apperance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
}

.checkbox__hidden:checked + .chekcbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
}

.chekcbox__icon {
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  position: absolute;
  cursor: pointer;
}

.chekbox__condition {
  color: var(--accent-color);
  text-decoration: underline;
}

.checkbox__text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
  margin-left: 20px;
}

@media screen and (min-width: 450px) {
  .checkbox__text {
    font-size: 10px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__button-primary {
  color: var(--main-back-color);
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-weight: 700;
  line-height: 1.9;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 55px;
  width: 200px;
  height: 50px;
  border: none;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 450px) {
  .checkbox__button-primary {
    margin-left: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox__button-primary {
    margin-left: 124px;
  }
}

.section__feature-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section__feature-main {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container .feature {
  width: 100%;
  padding: 0 15px;
}

.feature__title {
  font-weight: 700;
  line-height: 1.4;
}

.feature__list {
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.feature__item {
  width: 100%;
}

.feature__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .feature__item:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}

.feature__description {
  width: 100%;
  -ms-flex-preferred-size: calc(100% / 4 - var(--nav-list-gap));
      flex-basis: calc(100% / 4 - var(--nav-list-gap));
  font-weight: 400;
  line-height: 1.71;
  color: var(--paragraf-text-color);
}

.feature__img {
  height: 120px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
}

.feature__title-tv,
.feature__title-clock,
.feature__title-comp,
.feature__title-astro {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature__title-tv,
  .feature__title-clock,
  .feature__title-comp,
  .feature__title-astro {
    text-align: left;
  }
}

.section__achievements {
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .section__achievements {
    display: block;
  }
}

.achievements__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.achievements__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.achievements__image {
  position: relative;
  height: 294px;
}

.achievements__picture-title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: var(--main-back-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.166;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 320px) {
  .team__title {
    line-height: 1.375;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__title {
    font-size: 28px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}

.team__description li:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .team__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team__fon {
  background-color: var(--main-back-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__fon {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .team__fon:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 1200px) {
  .team__fon {
    width: 270px;
  }
}

.picture {
  width: 100%;
}

.team__name {
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

.team__specialization {
  margin-top: 10px;
  text-align: center;
  padding: 0;
}

.team__list-icon {
  width: 100%;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 30px;
}

.team__social {
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  color: var(--paragraf-text-color);
  background-color: var(--main-back-color);
  border-radius: 50%;
}

.team__social:not(:last-child) {
  margin-right: 10px;
}

.team__social:hover, .team__social:focus {
  color: var(--paragraf-text-color);
  background-color: var(--accent-color);
}

.team__icon {
  color: var(--paragraf-text-color);
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.team__social:hover .team__icon {
  color: var(--main-back-color);
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  font-weight: 700;
}

@media screen and (min-width: 450px) {
  .client__title {
    font-size: 28px;
    line-height: 1.178;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client__title {
    font-size: 28px;
    line-height: 1.178;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.client__brand {
  list-style: none;
}

@media screen and (min-width: 450px) {
  .client__brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.client__icon {
  fill: currentColor;
}

.client__link {
  max-width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--paragraf-text-color);
  border: 1px solid var(--paragraf-text-color);
  border-radius: 4px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client__logo {
  height: 90px;
  padding: 0;
}

@media screen and (min-width: 450px) {
  .client__logo {
    width: 210px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .client__logo:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 450px) and (min-width: 768px) {
  .client__logo {
    width: 226px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .client__logo:not(:last-child) {
    margin-bottom: unset;
  }
}

@media screen and (min-width: 450px) and (min-width: 1200px) {
  .client__logo {
    width: 170px;
  }
}

.footer {
  background: var(--footer-fon);
}

.container__container-footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  background: var(--footer-fon);
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 450px) {
  .container__container-footer {
    max-width: 480px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .container__container-footer {
    max-width: 768px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

@media screen and (min-width: 1200px) {
  .container__container-footer {
    max-width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__info {
  margin-bottom: 60px;
}

@media screen and (min-width: 450px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 0;
  }
}

.footer__studio {
  color: var(--main-back-color);
}

.footer__contact {
  margin-top: 9px;
}

@media screen and (min-width: 450px) {
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__item {
  margin-top: 9px;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--main-back-color);
  margin-top: 20px;
}

.footer__contact-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer__contact-link:hover, .footer__contact-link:focus {
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (min-width: 450px) {
  .footer__contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 450px) and (min-width: 1200px) {
  .footer__contact-link {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer__social-icon {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__social-icon {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-bottom: 0;
  }
}

.footer__enjoyus {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-back-color);
  text-align: center;
  margin-bottom: 20px;
}

.footer__list-icon {
  width: 206px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-preferred-size: calc(100% / 4 - 10px);
      flex-basis: calc(100% / 4 - 10px);
  padding: 0;
}

.footer__list-item {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--paragraf-text-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  margin-right: 10px;
}

.footer__list-item:hover {
  color: var(--paragraf-text-color);
  background-color: var(--accent-color);
}

.footer__svg {
  fill: var(--main-back-color);
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

.footer__svg:hover, .footer__svg:focus {
  fill: var(--main-back-color);
}

.footer__contactus {
  display: inline-block;
}

@media screen and (min-width: 450px) {
  .footer__contactus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contactus {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 450px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__form-mail {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__form-mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form-mail {
    margin-bottom: 0;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  background-color: var(--fon-back-hero);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 0px 15px 16px;
}

@media screen and (min-width: 450px) {
  .footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__button {
  width: 200px;
  height: 50px;
  color: var(--main-back-color);
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-style: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__button {
    margin-bottom: 0;
  }
}

.footer__button-contact {
  position: relative;
}

@media screen and (min-width: 450px) {
  .footer__button-contact {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__button-contact {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__button-contact {
    margin-left: 12px;
    margin-top: 0;
  }
}

.footer__svg-send {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: var(--accent-color);
  border-radius: 4px;
  position: absolute;
  top: 13px;
  right: 28px;
  margin-left: 10px;
}

.container-header {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .container-header {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    max-width: 768px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    max-width: 1200px;
  }
}

.menu-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.container-header__portfolio {
  font-weight: 500;
  line-height: 1.14;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.container-header__portfolio:hover, .container-header__portfolio:focus {
  color: var(--accent-color);
}

.container-header__portfolio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.container-header__current {
  font-weight: 500;
  line-height: 1.14;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.container-header__current:hover, .container-header__current:focus {
  color: var(--accent-color);
}

.container__section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 450px) {
  .container__section-portfolio {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container__section-portfolio {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container__section-portfolio {
    max-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio__button-list {
    margin-bottom: 34px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio__button-item {
  margin-right: 8px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio__button-item {
    margin-top: 0px;
  }
}

/*button*/
button {
  border: 0px;
}

.portfolio__button-all {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: var(--accent-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio__button-secondary {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  cursor: pointer;
  width: 128px;
  height: 38px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  border-radius: 4px;
}

.portfolio__button-all:hover,
.portfolio__button-all:focus,
.portfolio__button-all:active {
  background-color: var(--accent-color);
  color: var(--main-back-color);
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__button-secondary:hover,
.portfolio__button-secondary:focus,
.portfolio__button-secondary:active {
  background-color: var(--accent-color);
  color: var(--main-back-color);
  text-decoration: none;
}

.card__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .card__set {
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  .card__item {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) {
  .card__item {
    -ms-flex-preferred-size: calc(100% / 2 -30px);
        flex-basis: calc(100% / 2 -30px);
    margin-left: 15px;
    margin-top: 30px;
  }
}

.card__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__img {
  position: relative;
  overflow: hidden;
}

.card__set img {
  width: 100%;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  padding: 63px 23px;
  background: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 1200px) {
  .card__overlay {
    padding-top: 24px;
  }
}

.card__item:hover .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__overlay-text {
  font-weight: 400;
  font-style: 18px;
  line-height: 1.56;
  color: var(--main-back-color);
  letter-spacing: 0.03em;
}

.card__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}

.card__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06;
}

.card__specific {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin-top: 4px;
}

.footer__contact-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  color: #000;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  right: 15px;
  position: absolute;
}

.mobile-item {
  margin-bottom: 32px;
}

.mobile-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02;
  color: #212121;
  text-transform: capitalize;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.mobile-link:hover, .mobile-link:focus {
  color: #2196f3;
}

.mobile-list__contacts {
  position: absolute;
  left: 40px;
  bottom: 134px;
  list-style: none;
}

.mobile-item__contacts {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-item__number {
  font-weight: 500;
  font-style: 34px;
  line-height: 1.333;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-item__mail {
  font-weight: 500;
  font-style: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-network__list {
  position: absolute;
  left: 40px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-network__link {
  font-weight: 500;
  font-style: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-network__item:nth-child(-n + 3):after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0 10px;
}
/*# sourceMappingURL=main.css.map */