.section__achievements {
  padding-bottom: 94px;
  display: none;

  @media screen and(min-width:$desktop){
    display: block;
  }
}

.achievements__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.achievements__list {
  display: flex;
  justify-content: space-between;
}

.achievements__image {
  position: relative;
  height: 294px;
}

.achievements__picture-title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: var(--main-back-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
