.section__feature-main {
  padding-top: 60px;
  padding-bottom: 60px;
  

  @media screen and(min-width:$desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container__feature {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  border-bottom: 1px solid #ececec;

  @media screen and(min-width:$mobile) {
    max-width: 480px;
  }

  @media screen and(min-width:$tablet) {
    max-width: 768px;
  }

  @media screen and(min-width:$desktop) {
    max-width: 1200px;
  }
}

.feature__title {
  font-weight: 700;
  line-height: 1.4;
}

.feature__list {
  margin: 0 auto;
  padding: 0;

  @media screen and(min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.feature__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and(min-width:$tablet) {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    &:not(:last-child) {
      margin-bottom: unset;
    }
  }
  @media screen and(min-width:$desktop) {
    width: 270px;
  }
}

.feature__description {
  width: 100%;
  flex-basis: calc(100% / 4 - var(--nav-list-gap));
  font-weight: 400;
  line-height: 1.71;
  color: var(--paragraf-text-color);
}

.feature__img {
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

.feature__title-tv,
.feature__title-clock,
.feature__title-comp,
.feature__title-astro {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  @media screen and(min-width:$tablet) {
    text-align: left;
  }
}
