.footer {
  background: var(--footer-fon);
}

.container__container-footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
  background: var(--footer-fon);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and(min-width:$mobile) {
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and(min-width:$tablet) {
    max-width: 768px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: unset;
  }

  @media screen and(min-width:$desktop) {
    max-width: 1200px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer__info {
  margin-bottom: 60px;

  @media screen and(min-width:$mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media screen and(min-width:$desktop) {
    align-items: start;
    margin-bottom: 0;
  }
}

.footer__studio {
  color: var(--main-back-color);
}

.footer__contact {
  margin-top: 9px;

  @media screen and(min-width:$mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and(min-width:$desktop) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__item {
  margin-top: 9px;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--main-back-color);
  margin-top: 20px;
}

.footer__contact-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
    text-decoration: none;

  }

  @media screen and(min-width:$mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and(min-width:$desktop) {
      align-items: start;
    }
  }
}

.footer__social-icon {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width:$desktop) {
    align-items: start;
    margin-bottom: 0;
  }
}

.footer__enjoyus {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-back-color);
  text-align: center;
  margin-bottom: 20px;
}

.footer__list-icon {
  width: 206px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: calc(100% / 4 - 10px);
  padding: 0;
}

.footer__list-item {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: none;
  color: var(--paragraf-text-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms var(--timing-function);
  margin-right: 10px;

  &:hover {
    color: var(--paragraf-text-color);
    background-color: var(--accent-color);
  }
}

.footer__svg {
  fill: var(--main-back-color);
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

  &:hover,
  &:focus {
    fill: var(--main-back-color);
  }
}

.footer__contactus {
  display: inline-block;

  @media screen and(min-width:$mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and(min-width:$desktop) {
    margin-left: 93px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__form {
  @media screen and(min-width:$mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and(min-width:$tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and(min-width:$desktop) {
    flex-direction: row;
  }
}

.footer__form-mail {
  margin-bottom: 20px;

  @media screen and(min-width:$tablet) {
    align-items: center;
  }

  @media screen and(min-width:$desktop) {
    margin-bottom: 0;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  background-color: var(--fon-back-hero);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 0px 15px 16px;

  @media screen and(min-width:$mobile) {
    width: 450px;
  }

  @media screen and(min-width:$desktop) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__button {
  width: 200px;
  height: 50px;
  color: var(--main-back-color);
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-style: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  @media screen and(min-width:$desktop) {
    margin-bottom: 0;
  }
}

.footer__button-contact {
  position: relative;

  @media screen and(min-width:$mobile) {
    margin-top: 20px;
  }

  @media screen and(min-width:$tablet) {
    margin-top: 20px;
  }

  @media screen and(min-width:$desktop) {
    margin-left: 12px;
    margin-top: 0;
  }
}

.footer__svg-send {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: var(--accent-color);
  border-radius: 4px;
  position: absolute;
  top: 13px;
  right: 28px;
  margin-left: 10px;
}
