.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: var(--main-back-color);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: inline-block;
  justify-content: space-between;


  // @media screen and(min-width:$mobile){
  //   max-width: 450px;
  // max-height: 609px;
  // }

  // @media screen and(min-width:$tablet){
  //   max-width: 450px;
  // max-height: 609px;
  // }

  // @media screen and(min-width:$desktop){
  //   max-width: 528px;
  // max-height: 581px;
  // }
}

.modal__title-overlay {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--main-back-color);
  padding: 0;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}

.modal__icon-close {
  fill: currentColor;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
